:root {
    --main-bg-color: #adc2cf;
    --secondary-bg-color: #8490b4;
}

body {
    background-color: var(--main-bg-color);
background-image:  radial-gradient(var(--secondary-bg-color) 1px, transparent 1px), radial-gradient(var(--secondary-bg-color) 1px, var(--main-bg-color) 1px);
background-size: 40px 40px;
background-position: 0 0,20px 20px;  
}

.title {
    text-align: center;
    color: #442c3a;
    font-size: 2.5vw;
}

hr {
    width: 85vw;
    height: 1px;
    background-color: #442c3a;
}

#change-size {
    display: flex;
    justify-content: center;
}

#change-size-btn {
    border-color: #442c3a;
    background-color: #5c5b8e;
    border: 2px solid #442c3a;
    border-radius: 15px;
    color: #eef0e3;
    font-size: 2vw;
    cursor: pointer;
}

#grid {
    display: grid;
    border: 2px solid #442c3a;
    max-width: 50vh;
    min-height: 50vh;
    margin: 2vh auto;
}

.grid-square {
    border: 1px solid #442c3a;
}